/* variables */

:root {
	--red: #e63946;
	--light-blue: #a8dadc;
	--medium-blue: #457b9d;
	--dark-blue: #1d3557;
}

/* Box-sizing fix */

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/* global styles */

html, body {
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: 'Open sans', sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

/* header styles */

#logo {
	font-size: 6vw;
	text-align: center;
}

#logo:not(span) {
	font-weight: bold;
}

#logo > span {
	color: white;
	text-shadow:
		0.05em 0 black,
		0 0.05em black,
		-0.05em 0 black,
		0 -0.05em black,
		-0.05em -0.05em black,
		-0.05em 0.05em black,
		0.05em -0.05em black,
		0.05em 0.05em black;
}

#header-bg {
	width: 100%;
	color: black;
	background-color: var(--red);
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	padding: 1.5em 1.5em;
	max-width: 1200px;
}

ul {
	margin: 1em;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

nav > ul > li {
	font-size: 2.5vw;
	font-weight: bold;
	margin: 0 0.5em;
}

/* showcase content */

#showcase {
	background-image: url("./img/neelabh-raj-rS9PBJBY5pc-unsplash-small.jpg");
	background-position: center 30%;
	height: 600px;
	flex-grow: 1;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#showcase > img {
	max-width: 100%;
	margin: -75px 0;
	z-index: -1000;
}

#showcase > h1 {
	font-size: 4em;
	margin-bottom: 0; 
	text-shadow:
			0.05em 0 black,
			0 0.05em black,
			-0.05em 0 black,
			0 -0.05em black,
			-0.05em -0.05em black,
			-0.05em 0.05em black,
			0.05em -0.05em black,
			0.05em 0.05em black;
}

#showcase > p {
	text-align: center;
	font-size: 2em;
	text-shadow:
			0.05em 0 black,
			0 0.05em black,
			-0.05em 0 black,
			0 -0.05em black,
			-0.05em -0.05em black,
			-0.05em 0.05em black,
			0.05em -0.05em black,
			0.05em 0.05em black;
}

/* main content */

content {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

content > #a {
	flex-grow: 0.5;
	background-color: var(--light-blue);
}

content > #b {
	flex-grow: 0.5;
	background-color: var(--medium-blue);
}

content > #c {
	flex-grow: 0.5;
	background-color: var(--dark-blue);
}


/* responsive layout */

@media screen and (min-width: 630px) {
	#showcase {
		background-image: url("/img/neelabh-raj-rS9PBJBY5pc-unsplash-medium.jpg");
		background-position: 10% 35%;
		height: 1000px;
	}
}


@media screen and (min-width: 900px) {
	#logo {
		font-size: 3em;
	}

	nav > ul > li {
		font-size: 1.5em;
		margin: 0 0.5em;
	}

	#showcase > img {
		margin: -300px 0 0;
	}
}

@media screen and (min-width: 1200px) {
	#showcase > img {
		margin: -500px 0 0;
	}

	#showcase > div > h1 {
		font-size: 7vw;
	}

}